In [1]:
import pandas as pd
import sqlite3

### Create Python Dictionaries to store data to be inserted into DataFrames.

###### The tables are purposefully filled with with data issues such as mismatching types. data must be prepped/cleaned before use

In [2]:
runners_data = {
    'runner_id': (1,2,3,4),
    'registration_date' : ('2021-01-01','2021-01-03','2021-01-08','2021-01-15')
}

cust_order_data = {
    'order_id' : (1,2,3,3,4,4,4,5,6,7,8,9,10,10),
    'customer_id' : (101,101,102,102,103,103,103,104,101,105,102,103,104,104),
    'pizza_id' : (1,1,1,2,1,1,2,1,2,2,1,1,1,1),
    'exclusions' : ('','','','',4,4,4,'null','null','null','null',4,'null',2),
    'extras' : ('','','',pd.NA,'','','',1,'null',1,'null','1,5','null',4),
    'order_time' : ('2020-01-01 18:05:02','2020-01-01 19:00:52','2020-01-02 23:51:23','2020-01-02 23:51:23',
                   '2020-01-04 13:23:46','2020-01-04 13:23:46','2020-01-04 13:23:46','2020-01-08 21:00:29',
                   '2020-01-08 21:03:13','2020-01-08 21:20:29','2020-01-09 23:54:33','2020-01-10 11:22:59',
                   '2020-01-11 18:34:49','2020-01-11 18:34:49')
}

runner_order_data = {
    'order_id' : (1,2,3,4,5,6,7,8,9,10),
    'runner_id' : (1,1,1,2,3,3,2,2,2,1),
    'pickup_time' : ('2020-01-01 18:15:34','2020-01-01 19:10:54','2020-01-03 00:12:37','2020-01-04 13:53:03',
                    '2020-01-08 21:10:57','null', '2020-01-08 21:30:45','2020-01-10 00:15:02','null','2020-01-11 18:50:20'),
    'distance' : ('20km','20km','13.4km',23.4,10,'null','25km','23.4k','null','10km'),
    'duration' : ('32 minutes','27 minutes','20 mins',40,15,'null','25mins','15 minute','null','10minutes'),
    'cancellation' : ('','',pd.NA,pd.NA,pd.NA,'Restuarant Cancellation','null','null','Customer Cancellation','null')
    
}

pizza_names_data = {
    'pizza_id' : (1,2),
    'pizza_name' : ('Meatlovers','Vegetarian')
}

pizza_recipes_data = {
    'pizza_id' : (1,2),
    'toppings' : ('1, 2, 3, 4, 5, 6, 8, 10', '4, 6, 7, 9, 11, 12')
}

pizza_toppings_data = {
    'topping_id' : (1,2,3,4,5,6,7,8,9,10,11,12),
    'topping_name' : ('Bacon', 'BBQ Sauce','Beef','Cheese','Chicken','Mushrooms','Onions','Pepperoni','Peppers',
                     'Salami','Tomatoes','Tomato Sauce')
}

### Create DataFrames using dictionaries from above.

In [3]:
runners_df = pd.DataFrame(runners_data)
cust_order_df = pd.DataFrame(cust_order_data)
runner_order_df = pd.DataFrame(runner_order_data)
pizza_names_df = pd.DataFrame(pizza_names_data)
pizza_recipes_df = pd.DataFrame(pizza_recipes_data)
pizza_toppings_df = pd.DataFrame(pizza_toppings_data)

### Preview each DataFrame that'll be used to answer the questions below.

In [4]:
runners_df

   runner_id registration_date
0          1        2021-01-01
1          2        2021-01-03
2          3        2021-01-08
3          4        2021-01-15

In [5]:
cust_order_df

    order_id  customer_id  pizza_id exclusions extras           order_time
0          1          101         1                    2020-01-01 18:05:02
1          2          101         1                    2020-01-01 19:00:52
2          3          102         1                    2020-01-02 23:51:23
3          3          102         2              <NA>  2020-01-02 23:51:23
4          4          103         1          4         2020-01-04 13:23:46
5          4          103         1          4         2020-01-04 13:23:46
6          4          103         2          4         2020-01-04 13:23:46
7          5          104         1       null      1  2020-01-08 21:00:29
8          6          101         2       null   null  2020-01-08 21:03:13
9          7          105         2       null      1  2020-01-08 21:20:29
10         8          102         1       null   null  2020-01-09 23:54:33
11         9          103         1          4    1,5  2020-01-10 11:22:59
12        10          104         1       null   null  2020-01-11 18:34:49
13        10          104         1          2      4  2020-01-11 18:34:49

In [6]:
runner_order_df

,order_id,runner_id,pickup_time,distance,duration,cancellation
0,1,1,2020-01-01 18:15:34,20km,32 minutes,
1,2,1,2020-01-01 19:10:54,20km,27 minutes,
2,3,1,2020-01-03 00:12:37,13.4km,20 mins,<NA>
3,4,2,2020-01-04 13:53:03,23.4,40,<NA>
4,5,3,2020-01-08 21:10:57,10,15,<NA>
5,6,3,null,null,null,Restuarant Cancellation
6,7,2,2020-01-08 21:30:45,25km,25mins,null
7,8,2,2020-01-10 00:15:02,23.4k,15 minute,null
8,9,2,null,null,null,Customer Cancellation
9,10,1,2020-01-11 18:50:20,10km,10minutes,null

In [7]:
pizza_names_df

   pizza_id  pizza_name
0         1  Meatlovers
1         2  Vegetarian

In [8]:
pizza_recipes_df

   pizza_id                 toppings
0         1  1, 2, 3, 4, 5, 6, 8, 10
1         2       4, 6, 7, 9, 11, 12

In [9]:
pizza_toppings_df

    topping_id  topping_name
0            1         Bacon
1            2     BBQ Sauce
2            3          Beef
3            4        Cheese
4            5       Chicken
5            6     Mushrooms
6            7        Onions
7            8     Pepperoni
8            9       Peppers
9           10        Salami
10          11      Tomatoes
11          12  Tomato Sauce

## **Case Study Questions**

### A.Pizza Metrics

#### 1. How many pizzas were ordered?

 -  **Python**

In [10]:
#take the count of the customer_orders table
print("pizzas ordered: " + str(len(cust_order_df))) #len returns an int, using str() to concatenate

#can also be done in this manner
print("pizzas ordered: " + str(cust_order_df.shape[0]))#df.shape returns table dimensions (row,col), [0] being the first index

pizzas ordered: 14
pizzas ordered: 14

#### 2. How many unique customer orders were made?

-  **Python**

In [11]:
print("unique orders: " + str(len(cust_order_df['order_id'].unique())))

unique orders: 10

#### 3. How many successful orders were delivered by each runner?

-  **Python**

In [12]:
#filter the dataframe to exclude cancelled orders and groupby on the filtered results, must include na=False to prevent Value error
runner_order_df.loc[~runner_order_df['cancellation'].str.contains('Cancellation', na=False)]\
.groupby('runner_id')['pickup_time'].agg({'count'})

           count
runner_id
1              4
2              3
3              1

#### 4. How many of each type of pizza was delivered?

In [13]:
"""
i'm approaching this in a 2 step process, first the total amount of orders placed minus total amount of orders cancelled. 
to account for orders delivered. afterwards groupby those results.
"""

#use same logic from question #3 and store in a variable
valid_orders_df = runner_order_df.loc[~runner_order_df['cancellation'].str.contains('Cancellation', na=False)]

pd.merge(pd.merge(valid_orders_df, cust_order_df,how='left', left_on='order_id', right_on='order_id'), pizza_names_df)\
.groupby(['pizza_name']).agg({'count'})['pizza_id']

            count
pizza_name
Meatlovers      9
Vegetarian      3

#### 5. How many Vegetarian and Meatlovers were ordered by each customer?

In [14]:
"""
This one's a little tricky because it asks for pizzas ordered, not delivered.. so you include the cancelled orders. I'm 
using runner_order_df instead of valid_orders_df created in #4 because of this reason.
"""
pd.merge(pd.merge(runner_order_df, cust_order_df,how='left', left_on='order_id', right_on='order_id'), pizza_names_df)\
.groupby(['customer_id','pizza_name']).agg({'count'})['pizza_id']

                        count
customer_id pizza_name
101         Meatlovers      2
            Vegetarian      1
102         Meatlovers      2
            Vegetarian      1
103         Meatlovers      3
            Vegetarian      1
104         Meatlovers      3
105         Vegetarian      1

#### 6. What was the maximum number of pizzas delivered in a single order?

#### 7. For each customer, how many delivered pizzas had at least 1 change and how any had no changes?

#### 8. How many pizzas were delivered that had both exclusions and extras?

#### 9. What was the total volume of pizzas ordered for each hour of the day?

#### 10. What was the volume of orders for each day of the week?

### B. Runner and Customer Experience

#### 1. How many runners signed up for each 1 week period? (i.e. week starts 2021-01-01)

#### 2. What was the average time in minutes it took for each runner to arrive at the Pizza Runer HQ to pick up the order?

#### 3. Is there any relationshiop between the number of pizzas ad how long the order takes to prepare?

#### 4. What was the average distance travelled for each customer?

#### 5. What was the difference between the longest and shortest deliver times for all orders?

#### 6. What was the average speed for reach runner for each delivery and do you notice any trend for these values?

#### 7. What is the successful delivery percentage for each runner?

### C. Ingredient Optimisation

#### 1. What are the standard ingredients for each pizza?

#### 2. What are the most commonly added extra?

#### 3. What was the most common exclusion?

**4. Generate an order item for each record in the `customers_orders` table in the format of one of the following:<br>**
> -  **Meat Lovers** <br>
> -  **Meat Lovers - Exclude Beef** <br>
> -  **Meat Lovers - Extra Bacon** <br>
> -  **Meat Lovers - Exclude Cheese, Bacon - Extra Mushroom, Peppers**

**5. Generate an alphabetically ordered comma separated ingredient list for each pizza order from the `customer orders`<br>**
**table and add a 2x in front of any relevant ingredients<br>**
>  -  **For Example: 'Meat Lovers: 2xBacon, Beef, ... , Salami'**

#### 6. What is the total quantity of each ingredient used in all delivered pizzas sorted by most frequent first?

### D. Pricing and Ratings


#### 1. If a Meat Lovers pizza costs \\$12 and Vegeterian costs \\$10 and there were no charges for changes - how much money has Pizza Runner made so far if there are no delivery fees?

**2. What if there was an additional \\$1 charge for any pizza extras?**<br>
> -  **Add cheese is \\$1 extra**

**3. The Pizza Runner Team now wants to add an additional rating system that allows customers to rate their runner, how<br>
would you design an additional table for this new dataset - generate a schema for this new table and insert your own<br>
data for ratings for each successful customer order between 1 to 5.**

**4. Using your newly generated table - can you join all of the information together to form a table which has the following information for succesful deliveries?**<br>
> -  **`customer_id`**<br>
> -  **`order_id`**<br>
> -  **`runner_id`**<br>
> -  **`rating`**<br>
> -  **`order_time`**<br>
> -  **`pickup_time`**<br>
> -  **Time between order and pickup**<br>
> -  **Delivery duration**<br>
> -  **Average speed**<br>
> - **Total number of pizzas**<br>

**5. If a Meat Lovers pizza was \\$12 and Vegetarian \\$10 fixed prices with no cost for extras and each runner is paid $0.30 per kilometer traveled - how much money does Pizza Runner have left over after these deliveries?**